/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-08-16 01:02:56
 * @version $Id$
 */
/* line 15, ../sass/material_design_form.scss */
.material-design-form input[type="text"], .material-design-form input[type="password"] {
  z-index: 1;
  position: relative;
  top: 0;
  width: 320px;
  margin: 30px 0 0 0;
  padding: 10px;
  display: block;
  border-width: 0 0 3px 0;
  border-color: #ccc;
  border-style: solid;
  border-radius: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 30, ../sass/material_design_form.scss */
.material-design-form input[type="text"]:focus, .material-design-form input[type="password"]:focus {
  outline: 0;
  border-color: #129FEA;
}
/* line 36, ../sass/material_design_form.scss */
.material-design-form .input-group {
  text-align: left;
}
/* line 40, ../sass/material_design_form.scss */
.material-design-form label {
  position: relative;
}
/* line 44, ../sass/material_design_form.scss */
.material-design-form .material-design-label {
  top: -26px;
  left: 10px;
  -ms-transform: scale(1);
  -webkit-transform: scale(1) rotate(0) translate(0, 0) skew(0, 0);
  -moz-transform: scale(1) rotate(0) translate(0, 0) skew(0, 0);
  -o-transform: scale(1) rotate(0) translate(0, 0) skew(0, 0);
  transform: scale(1) rotate(0) translate(0, 0) skew(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  display: inline-block;
}
/* line 55, ../sass/material_design_form.scss */
.material-design-form .input-focus {
  top: -50px;
  color: #129FEA;
  -ms-transform: scale(0.875);
  -webkit-transform: scale(0.875) rotate(0) translate(0, 0) skew(0, 0);
  -moz-transform: scale(0.875) rotate(0) translate(0, 0) skew(0, 0);
  -o-transform: scale(0.875) rotate(0) translate(0, 0) skew(0, 0);
  transform: scale(0.875) rotate(0) translate(0, 0) skew(0, 0);
}
/* line 63, ../sass/material_design_form.scss */
.material-design-form .input-error input {
  border-color: red;
}
/* line 66, ../sass/material_design_form.scss */
.material-design-form .input-error .material-design-label {
  color: red;
}

/* line 72, ../sass/material_design_form.scss */
.error-msg {
  color: red;
}
