/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-08-16 19:05:47
 * @version $Id$
 */
/* line 29, ../sass/material_design_button.scss */
button, a {
  position: relative;
  display: block;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

/* line 37, ../sass/material_design_button.scss */
.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  pointer-events: none;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

/* line 46, ../sass/material_design_button.scss */
.ripple.show {
  -webkit-animation-name: ripple;
  -moz-animation-name: ripple;
  -ms-animation-name: ripple;
  -o-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -ms-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes ripple {
  to {
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
  }
}
@-moz-keyframes ripple {
  to {
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
  }
}
@-ms-keyframes ripple {
  to {
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
  }
}
@keyframes ripple {
  to {
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
  }
}
